@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

img{
  image-rendering: smooth;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-pacifico: "Pacifico", cursive;
  --font-poppins: "Poppins", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  --color-chocolate-brown: #5e2c15;
  --color-light-brown: #c89f77;
  --color-cream: #f7e6d2;
  --color-light-cream: #faf4ee;
  --color-sweet-pink: #f8bbd0;
  --color-pistache-green: #a3c686;
  --color-caramel: #d88a52;
  --color-terracota: #e27a48;
  --color-pastel-pink: #f4c2c2;
  --color-vanilla-yellow: #f9e2af;
  --color-base-gray: #766a63;

  --breakpoint-desktop: 1500px;
  --shadow-buttonShadow: 0px 4px 0px 0px #ac5932;
  --shadow-headerShadow: 0px 4px 0px 0px var(--color-base-gray, #766a63);
  --background-heroGradient: linear-gradient(180deg, rgba(216, 138, 82, 0.47) 0%, rgba(195, 93, 46, 0.00) 97.6%);
  --shadow-buttonSecondary: 0px 4px 0px 0px #5E2C15;



}

@layer utilities {
  .bg-hero-gradient {
    background: var(--background-heroGradient);
  }
}


* {
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
