@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap");

@import 'swiper/css';
@import 'swiper/css/navigation';
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

img{
  image-rendering: smooth;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.swiper-slide {
  overflow: visible !important;
}

.swiper-pagination {
  position: static; 
}

.swiper-pagination .swiper-pagination-bullet {
  width: 0.75rem; 
  height: 0.75rem; 
  background-color: var(--color-base-gray, #A0A0A0); 
  opacity: 0.5;
  margin: 0 0.25rem !important;
  transition: opacity 0.3s, background-color 0.3s;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-chocolate-brown, #5E2C15); 
  opacity: 1;
}

@theme {

  /* FONTES */
  --font-pacifico: "Pacifico", cursive;
  --font-poppins: "Poppins",   sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;

  /* TAMANHO DE TEXTO */
  --text-size-xxs: 0.625rem; /* 10px */
  --text-size-xs: 0.75rem; /* 12px */
  --text-size-sm: 0.875rem; /* 14px */
  --text-size-base: 1rem; /* 16px */
  --text-size-lg: 1.125rem; /* 18px */
  --text-size-xl: 1.25rem; /* 20px */

  /* CORES */
  --color-chocolate-brown: #5e2c15;
  --color-light-brown: #c89f77;
  --color-cream: #f7e6d2;
  --color-light-cream: #faf4ee;
  --color-sweet-pink: #f8bbd0;
  --color-pistache-green: #a3c686;
  --color-caramel: #d88a52;
  --color-terracota: #e27a48;
  --color-pastel-pink: #f4c2c2;
  --color-vanilla-yellow: #f9e2af;
  --color-base-gray: #766a63;
  --color-pastel-red: #FF585B;

  /* BREAKPOINTS */
  --breakpoint-desktop: 1500px;

  /* SOMBRAS */
  --shadow-buttonShadow: 0px 4px 0px 0px #ac5932;
  --shadow-headerShadow: 0px 4px 0px 0px var(--color-base-gray, #766a63);
  --background-heroGradient: linear-gradient(180deg, rgba(216, 138, 82, 0.47) 0%, rgba(195, 93, 46, 0.00) 97.6%);
  --shadow-buttonSecondary: 0px 4px 0px 0px #5E2C15;
  --shadow-cakeShadow: 0px 7px 0px 0px #FFC194;
  --shadow-grayShadow: 0px 3px 0px 0px var(--color-base-gray, #766A63);

  /* ANIMAÇÕES */

  --animate-float: float 3s ease-in-out infinite;

  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0px);
    }
  }
}

@layer utilities {
  .bg-hero-gradient {
    background: var(--background-heroGradient);
  }
}

* {
  font-family: var(--font-montserrat);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}